<%= form_for(@parse_request) do |f| %>
  <% if @parse_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parse_request.errors.count, "error") %> prohibited this parse_request from being saved:</h2>

      <ul>
      <% @parse_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :domain %><br>
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
