<%= form_for @parse_request, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :domain, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :domain, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :count, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :count, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  parse_requests_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
