= form_for @parse_request, :html => { :class => 'form-horizontal form-model' } do |f|
  - if @parse_request.errors.any?
    #error_explanation.alert.alert-danger
      %h2
        = @parse_request.errors.count
      %ul
        - @parse_request.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :domain, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :domain, :class => 'text-field form-control'
  .form-group
    = f.label :count, :class => 'control-label col-md-2'
    .col-md-10
      = f.number_field :count, :class => 'text-field form-control'
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, :class => 'btn btn-primary'