.page-header
  %h1 Запросы на добавление сайтов
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th domain
      %th count
      %th updated_at
      %th действия
  %tbody
    - @parse_requests.each do |parse_request|
      %tr
        %td= parse_request.id
        %td= parse_request.domain
        %td= parse_request.count
        %td= l parse_request.updated_at, format: :long
        %td
          =link_to "редактировать", edit_parse_request_path(parse_request.id)
        %td
          =link_to "удалить", parse_request, :data => {confirm: 'Точно удалить? Восстановить никак'}, method: :delete
= link_to 'Новый', new_parse_request_path, :class => 'btn btn-primary'
