= form_for @good, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :name, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :name, :class => 'text-field form-control'
  .form-group
    = f.label :main_image_id, :class => 'control-label col-md-2'
    .col-md-10
      = f.number_field :main_image_id, :class => 'text-field form-control'
  .form-group
    = f.label :user_id, :class => 'control-label col-md-2'
    .col-md-10
      = f.number_field :user_id, :class => 'text-field form-control'
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, :class => 'btn btn-primary'          |
