.page-header
  %h1 Товар
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th name
      %th website
      %th main_image_id
      %th User_id
      %th created_at
      %th действия
  %tbody
    - @goods.each do |good|
      %tr
        %td= good.id
        %td= good.name
        %td= good.website
        %td= good.main_image_id
        %td= good.user_id
        %td= l good.created_at, format: :long
        %td
          =link_to "редактировать", edit_good_path(good.id)
        %td
          =link_to "удалить", good, :data => {confirm: 'Точно удалить? Восстановить никак'}, method: :delete
= link_to 'Создать', |
  new_good_path,                                         |
  :class => 'btn btn-primary'                            |
