= form_for @site_error, :html => { :class => 'form-horizontal form-model' } do |f|
  .form-group
    = f.label :domain, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :domain, :class => 'text-field form-control'
  .form-group
    = f.label :count, :class => 'control-label col-md-2'
    .col-md-10
      = f.number_field :count, :class => 'text-field form-control'
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, :class => 'btn btn-primary'