<%= form_for(@site_error) do |f| %>
  <% if @site_error.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site_error.errors.count, "error") %> prohibited this site_error from being saved:</h2>

      <ul>
      <% @site_error.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :domain %><br>
    <%= f.text_field :domain %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
