<h1>Listing site_errors</h1>

<table>
  <thead>
    <tr>
      <th>Domain</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @site_errors.each do |site_error| %>
      <tr>
        <td><%= site_error.domain %></td>
        <td><%= link_to 'Show', site_error %></td>
        <td><%= link_to 'Edit', edit_site_error_path(site_error) %></td>
        <td><%= link_to 'Destroy', site_error, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site error', new_site_error_path %>
