.page-header
  %h1 Cайт
%table.table.table-striped
  %thead
    %tr
      %th domain
      %th name_selector
      %th main_image_selector
      %th images_selector
      %th button_selector
      %th created_at
      %th действия
  %tbody
    - @sites.each do |site|
      %tr
        %td= site.domain
        %td= site.name_selector
        %td= site.main_image_selector
        %td= site.images_selector
        %td= site.button_selector
        %td= l site.created_at, format: :long
        %td
          =link_to "редактировать", edit_site_path(site.id)
        %td
          =link_to "удалить", site, :data => {confirm: 'Точно удалить? Восстановить никак'}, method: :delete
= link_to 'Новый', |
  new_site_path,                                         |
  :class => 'btn btn-primary'                            |
