<%- model_class = Site -%>
<div class="page-header">
  <h1><%=t '.title', :default => Site %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:domain) %></th>
      <th><%= model_class.human_attribute_name(:name_selector) %></th>
      <th><%= model_class.human_attribute_name(:main_image_selector) %></th>
      <th><%= model_class.human_attribute_name(:images_selector) %></th>
      <th><%= model_class.human_attribute_name(:button_selector) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.id %></td>
        <td><%= site.domain %></td>
        <td><%= site.name_selector %></td>
        <td><%= site.main_image_selector %></td>
        <td><%= site.images_selector %></td>
        <td><%= site.button_selector %></td>
        <td><%=l site.created_at, format: :long %></td>
        <td>
          <%= link_to site_path(site), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to site_path(site), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_site_path,
            :class => 'btn btn-primary' %>
