- model_class = Site
.page-header
  %h1= t '.title', :default => Site
.fieldset
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:domain)
    %dd
      %pre.prettyprint= @site.domain
    %dt.label.label-default= model_class.human_attribute_name(:name_selector)
    %dd
      %pre.prettyprint= @site.name_selector
    %dt.label.label-default= model_class.human_attribute_name(:main_image_selector)
    %dd
      %pre.prettyprint= @site.main_image_selector
    %dt.label.label-default= model_class.human_attribute_name(:images_selector)
    %dd
      %pre.prettyprint= @site.images_selector
    %dt.label.label-default= model_class.human_attribute_name(:button_selector)
    %dd
      %pre.prettyprint= @site.button_selector
.form-group
  = link_to t('.back', :default => t("helpers.links.back")), |
    sites_path, :class => 'btn btn-default'                  |
  -#
  = link_to t('.edit', :default => t("helpers.links.edit")), |
    edit_site_path(@site), :class => 'btn btn-default'       |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
    site_path(@site),                                                                                            |
    :method => 'delete',                                                                                         |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
    :class => 'btn btn-danger'                                                                                   |
