.page-header
  %h1 Изображение
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th website
      %th good_id
      %th created_at
      %th действия
  %tbody
    - @images.each do |image|
      %tr
        %td= image.id
        %td= image.website
        %td= image.good_id
        %td= l image.created_at, format: :long
        %td
          =link_to "редактировать", edit_image_path(image.id)
        %td
          =link_to "удалить", image, :data => {confirm: 'Точно удалить? Восстановить никак'}, method: :delete
= link_to t('.new', :default => t("helpers.links.new")), |
  new_image_path,                                        |
  :class => 'btn btn-primary'                            |
